
.section-1{
    margin: 50px auto;
}
.section-2{
    margin: 50px auto;
}
.section-3{
    margin: 80px auto;
    
}

 h1{
     font-size: 30px;
    font-weight: bold;
    color:#053e88;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode';
    margin-right: 550px;
    margin-left: 20px;
}
.text-1{
   display: flex;
   justify-content: space-between;
    padding: 10px 2%;
}

.text-1 img{
    width: 300px;
    height: 300px;
    padding:  10px 2%;
    display: inline-block;
    
}

.text-1 p{
    text-align: justify;
    display: inline-block;
    
}

.btn-primary{
    display: block;
    position: absolute;
    top: 250px;
    left:56px;
}

.lh-1{
    text-align: justify;
    margin: 20px;
}

.text-2{
    display: flex;
    justify-content: space-between;
}

.text-2 .img{
    margin: 20px;
}
.text-2 .img img{
    width: 400px;
    height: 300px;
}

.text-2 .tx {
   padding-top: 60px ;
   padding-left: 30px;
}
.cards{
    display: flex;
}



footer form{
    width: 100%;
    padding: 20px;
    background-color: rgb(230, 232, 238);
}

footer form button{
    width: 160PX;
    background-color: rgb(62, 150, 250);
    margin-top: 20px;
    color: cornsilk;
}

footer form button:hover{
    background-color: rgb(31, 136, 255);
}

footer form label{
    margin-top: 10px;
    font-weight: 600;
    color: rgb(109, 109, 109);
}

