
.dropdown-item{
    color: rgb(12, 245, 136);
}

.dropdown-item:hover{
    background-color: rgb(5, 204, 111);
    color: rgb(1, 2, 17);
    font-weight: 600;
}

.nav-link{
    color: rgb(12, 245, 136);
}

.nav-link:hover{
    color: rgb(10, 216, 120);
}

.navbar-brand{
    color: rgb(12, 245, 136);
}

.navbar-brand:hover{
   color: rgb(10, 216, 120);
}

.btn-primary{
    background-color:rgb(12, 245, 136);
    border: lime;
    color: rgb(1, 2, 17);
}

.btn-primary:hover{
    color: rgb(1, 2, 17);
    background-color: rgb(10, 216, 120);
}
